{% extends 'Main/base_simple.html' %}

{% block titulo %}
    Blog
{% endblock titulo %}

{% block contenido_titulo %}
    lista de Publicaciones
{% endblock contenido_titulo %}

{% block contenido %}
        <a href="{% url 'blog:crear_publicacion' %}" class="btn btn-primary mb-3" >Crear Publicacion</a>
        <form action="{% url 'blog:lista_publicacion' %}" method="get">
            <input type="text" name="busqueda" placeholder="Buscar.." type="submit"
            class="form-control mb-3">
        </form>
        <ul class="list-group">
        {% for publicaciones in publicacion %}
        <li class="list-group-item">

            <div class="d-flex justify-content-between align-items-center">

                <div>
                    <h5 class="mb-1">{{ publicaciones.titulo }}</h5>
                    <small>Publicado el {{ publicaciones.fecha_publicacion }}</small>
                </div>

                <a href="{% url 'blog:publicacion_detalle' publicaciones.id %}" 
                class="btn btn-primary btn-info">
                Ver
                </a>
            </div>

            <p class="mb-1">{{ publicaciones.contenido }}</p>

        </li>
        {% endfor %}
    </ul>
{% endblock contenido %}