{% extends 'Main/base.html' %}

{% block titulo %}
    Blog
{% endblock titulo %}

{% block contenido_titulo %}
    prueba2
{% endblock contenido_titulo %}

{% block contenido %}
        <ul class="list-group">
        {% for publicaciones in publicacion %}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ publicaciones.titulo }}</h5>
                <small>Publicado el {{ publicaciones.fecha_publicacion }}</small>
            </div>
            <p class="mb-1">{{ publicaciones.contenido }}</p>
        </a>
        {% endfor %}
    </ul>
{% endblock contenido %}