{% extends 'Main/base_simple.html' %}

{% block titulo %}
    Blog
{% endblock titulo %}

{% block contenido_titulo %}
    lista de Publicaciones
{% endblock contenido_titulo %}

{% block contenido %}
        <a href="{% url 'blog:crear_publicacion' %}" class="btn btn-primary mb-3" >Crear Publicacion</a>
        <form action="{% url 'blog:lista_publicacion' %}" method="get">
            <input type="text" name="busqueda" placeholder="Buscar.." type="submit"
            class="form-control mb-3">
        </form>
        <ul class="list-group">
        {% for publicaciones in publicacion %}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ publicaciones.titulo }}</h5>
                <small>Publicado el {{ publicaciones.fecha_publicacion }}</small>
            </div>
            <p class="mb-1">{{ publicaciones.contenido }}</p>
        </a>
        {% endfor %}
    </ul>
{% endblock contenido %}