{% extends 'Main/base_simple.html' %}

{% block titulo %}
    {{request.user.username}}
{% endblock titulo %}

{% block contenido_titulo %}
    Informacion de {{request.user.username}}
{% endblock contenido_titulo %}

{% block contenido %}

    {% if user.is_authenticated %}
            <li>
                {% if user.avatar.imagen %}
                    <img src="{{ user.avatar.imagen.url }}" width="150" height="150">
                {% endif %}
            </li>
    {% endif %}

    <p>Nombre: {{ user.first_name }}</p>

    <p>Apellido: {{ user.last_name }}</p>

    <p>Email: {{ user.email }}</p>

    <p>Publicaciones hechas:
        {% if posts %}
            <ul>
                {% for post in posts %}
                    <li>
                        <strong>{{ post.titulo }}</strong><br>
                        {{ post.contenido|truncatewords:20 }}
                    </li>
                {% empty %}
                    <p>Este autor no ha publicado nada todavía.</p>
                {% endfor %}
            </ul>
            {% endif %}
    </p>
{% endblock contenido %}